*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-1{
  flex-basis: 50%;
  min-width: 300px;
}
.col-1 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-1 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn{
  display: inline-block;
  background: green;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: #345634;
}
.header{
  background: radial-gradient(circle,#fff, skyblue);
}
.header .row{
  margin-top: 70px;
}
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%
}

.col-04{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}
.col-04 img{
  width: 100%;
}
.col-04 p{
  font-size: 14px;
}

.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: green;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4{
  color: #555;
  font-weight: normal;
}
.col-4 p{
  font-size: 14px;
}
.col-4:hover{
  transform: translateY(-5px);
}


.kgroups{
  margin: 100px auto;
}
.col-5{
  width: 160px;
}
.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover{
  filter: grayscale(0);
}


.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1{
  min-width: 250px;
  margin-bottom: 20px;
  flex: 1;
  text-align: center;
}
ul{
  list-style-type: none;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}
.mn-1{
  padding-right: 10px;
}
.mn-2{
  font-family: 'Courier New', Courier, monospace;
  padding-left: 10px;
  text-align: right;
}
.gs{
  color: #555;
  font-size: 20px;
  margin-bottom: inherit;
  margin-top: 0;
  text-align: left;
}
.gst{
  width: 100%;
  overflow: auto;
}